examples/OptaController/updateExpansionFw/__fwUpdateAnalog.h
examples/OptaController/updateExpansionFw/__fwUpdateDigital.h
examples/OptaController/updateExpansionFwForce/
fwUpdater/bin/
fwUpdater/build/
examples_to_be_revised/
.cache/
.clangd
compile_commands.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
